@model VTel.Models.NHANVIEN

@{
    ViewBag.Title = "Chỉnh Sửa - Quản Lý Nhân Viên";
    Layout = "~/Views/Shared/_LayoutPageManagement.cshtml";
}

<link href="~/Content/css/Product/create.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="box-add">
        <div class="row">
            <div class="col-md-12">
                <div class="form-horizontal">
                    <h4 class="text-ce">Chỉnh Sửa Thông Tin Khách Hàng</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-md-6" style="display: block;">
                            <div class="form-group">
                                <h4 class="hint-name">User ID @Html.ValidationMessageFor(model => model.USERID)</h4>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.USERID, new { htmlAttributes = new { placeholder = "User ID", @class = "data-input data-input-weight" } })

                                </div>
                            </div>
                            <div class="form-group">
                                <h4 class="hint-name">Mã Nhân Viên @Html.ValidationMessageFor(model => model.MANV)</h4>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.MANV, new { htmlAttributes = new { placeholder = "Mã Nhân Viên", @class = "data-input data-input-weight" } })

                                </div>
                            </div>

                            <div class="form-group">
                                <h4 class="hint-name">Họ Tên @Html.ValidationMessageFor(model => model.HOTENNV)</h4>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.HOTENNV, new { htmlAttributes = new { placeholder = "Họ Tên", @class = "data-input data-input-weight" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <h4 class="hint-name">Giới Tính @Html.ValidationMessageFor(model => model.GIOITINH)</h4>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.GIOITINH, new { htmlAttributes = new { placeholder = "Giới Tính", @class = "data-input data-input-weight" } })
                                </div>
                            </div>

                            <div class="form-group">
                                <h4 class="hint-name">Ngày Sinh @Html.ValidationMessageFor(model => model.NGAYSINH)</h4>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.NGAYSINH, new { htmlAttributes = new { placeholder = "Ngày Sinh", @class = "data-input data-input-weight" } })
                                </div>
                            </div>
                            <div class="form-group">
                                <h4 class="hint-name">Địa Chỉ @Html.ValidationMessageFor(model => model.DIACHI)</h4>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.DIACHI, new { htmlAttributes = new { placeholder = "Địa Chỉ", @class = "data-input data-input-weight" } })
                                </div>
                            </div>
                            <div class="form-group">
                                <h4 class="hint-name">Chức Vụ @Html.ValidationMessageFor(model => model.CHUCVU)</h4>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.CHUCVU, new { htmlAttributes = new { placeholder = "Chức Vụ", @class = "data-input data-input-weight" } })
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <input type="button" class="btn btn-success create-all" data-toggle="modal" data-target="#myModal" value="Lưu" />


        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" style="float:left;">Chỉnh Sửa Khách Hàng</h4>
                    </div>
                    <div class="modal-body">
                        <p>Bạn Chắc Chắn Chỉnh Sửa?</p>
                        <p class="text-success">
                            @Html.DisplayFor(model => model.MANV)
                        </p>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Lưu" class="btn btn-success" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Huỷ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="btn btn-primary back">
    @Html.ActionLink("Quay Lại", "QuanLyNhanVien", "Management")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
