@model VTel.Models.HOADON

@{
    ViewBag.Title = "Chi Tiết - Quản Lý Hoá Đơn";
    ViewBag.Current = "QuanLyHoaDon";
    Layout = "~/Views/Shared/_LayoutPageManagement.cshtml";
}

<link href="~/Content/css/Product/create.css" rel="stylesheet" />

@using (Html.BeginForm("Details", "HoaDon", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="box-add">
        <div class="row">
            <div class="col-md-12">
                <div class="form-horizontal">
                    <h4 class="text-ce">Thông Tin Hoá Đơn</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-md-9" style="display: block;">
                            <div class="form-group">
                                <h4 class="hint-name">Mã Sản Phẩm</h4>
                                <div class="col-md-10">
                                    <p class="delete-box" style="width: 114% !important; height: 50px;">
                                        @Html.DisplayFor(model => model.PRODUCTID)
                                    </p>
                                </div>
                            </div>

                            <div class="form-group">
                                <h4 class="hint-name">Số Lượng</h4>
                                <div class="col-md-10">
                                    <p class="delete-box" style="width: 114% !important; height: 50px;">
                                        @Html.DisplayFor(model => model.SOLUONG)
                                    </p>
                                </div>
                            </div>

                            <div class="form-group">
                                <h4 class="hint-name">Đơn Giá</h4>
                                <div class="col-md-10">
                                    <p class="delete-box" style="width: 114% !important; height: 50px;">
                                        @Html.DisplayFor(model => model.DONGIA)
                                    </p>
                                </div>
                            </div>

                            <div class="form-group">
                                <h4 class="hint-name">Thành Tiền</h4>
                                <div class="col-md-10">
                                    <p class="delete-box" style="width: 114% !important; height: 50px;">
                                        @Html.DisplayFor(model => model.THANHTIEN)
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">

                            <div class="form-group">
                                <h4 class="hint-name">Mã Khách Hàng</h4>
                                <div class="col-md-10">
                                    <p class="delete-box" style="width: 114% !important; height: 50px;">
                                        @Html.DisplayFor(model => model.MAKH)
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <h4 class="hint-name">Họ Tên Khách Hàng</h4>
                                <div class="col-md-10">
                                    <p class="delete-box" style="width: 114% !important; height: 50px;">
                                        @Html.DisplayFor(model => model.HOTENKH)
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <h4 class="hint-name">Mã Nhân Viên</h4>
                                <div class="col-md-10">
                                    <p class="delete-box" style="width: 114% !important; height: 50px;">
                                        @Html.DisplayFor(model => model.MANV)
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <h4 class="hint-name">Ngày Tạo</h4>
                                <div class="col-md-10">
                                    <p class="delete-box" style="width: 114% !important; height: 50px;">
                                        @Html.DisplayFor(model => model.NGAYTAO)
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}

<div class="btn btn-primary back">
    @Html.ActionLink("Quay Lại", "QuanLyHoaDon", "Management")
</div>
